<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">tests/feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <!-- <report>
			<html outputDirectory="./_coverage" lowUpperBound="35" highLowerBound="70"/>
			<text outputFile="php://stdout" showUncoveredFiles="true"/>
		</report> -->
    </coverage>
</phpunit>